@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles.css */
.emerald {
  background-color: #34d399;
  color: #000; /* Adjust text color as needed */
}

.emerald:hover{
  background-color: #10b981;
}

.slate {
  background-color: #f1f5f9;
  color: #000; /* Adjust text color as needed */
}

.slate:hover{
  background-color: #e2e8f0;
}

.cover{
  background-color: #475569;
}

.shadow-outline {
  text-shadow: 1px 1px 1px black;
}

