@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Press Start 2P", system-ui;
  font-optical-sizing: auto;

  background-color: #f3dfc1;
}

.footer{
  font-family: "Arial", sans-serif; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  @apply cursor-pointer shadow-md;
}

.nav{
  z-index: 9999;
}

.navbar ul a.active {
  color: #4ade80;
 }